{% extends "AUTH/navbar.html" %}
{% load staticfiles %}
{% load pagination_tags %}
{% block title %}
    <title>Zabbix主机</title>
{% endblock %}
{% block content %}
    <div class="container">
        <h2>
            Zabbix主机列表
{#            <div class="btn-group pull-right">#}
{#                <div class="btn-group " >#}
{#                    <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">#}
{#                        <span class="glyphicon glyphicon-filter"></span>&nbsp;模块&nbsp;<span class="caret"></span></a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li><a href="{% url 'salt:command' %}">所有模块</a></li>#}
{#                        {% for module in module_list %}#}
{#                        <li><a href="{% url 'salt:command' %}?module_id={{ module.id }}">{{ module }}</a></li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                </div>#}
{#                <a class="btn btn-info " href="/admin/SALT/module/add/" target="_blank">#}
{#                    <span class="glyphicon glyphicon-plus"></span>&nbsp;模块</a>#}
{#                <a class="btn btn-info " href="/admin/SALT/command/add/" target="_blank">#}
{#                    <span class="glyphicon glyphicon-plus"></span>&nbsp;命令</a>#}
{#                <a class="btn btn-info " href="{% url 'salt:command' %}?active=collect">#}
{#                    <span class="glyphicon glyphicon-cloud-download"></span>&nbsp;采集信息</a>#}
{#            </div>#}
        </h2>
        {% if error %}<div class="alert alert-danger"><a href="#" class="close" data-dismiss="alert">&times;</a>{{ error }}</div>{% endif %}
        {% if success %}<div class="alert alert-success"><a href="#" class="close" data-dismiss="alert">&times;</a>{{ success }}</div>{% endif %}
        {% if host_list %}
        {% autopaginate host_list 20 %}
            <div class="table-responsive">
                 <table class="table table-hover table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Host</th>
                            <th>HostId</th>
                            <th>Interfaces</th>
                            <th>Groups</th>
                            <th>Templates</th>
                            <th>Items</th>
                            <th>Triggers</th>
                            <th>Graphs</th>
                            <th>Screens</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    {% for host in host_list %}
                        <tbody>
                            <tr>
                                <td>{{ host.host }}</td>
                                <td>{{ host.hostid }}</td>
                                <td>{% for h in host.interfaces  %}
                                    {{ h.ip }}<br>
                                    {% endfor %}</td>
                                <td>{% for h in host.groups  %}
                                    {{ h.name }}<br>
                                    {% endfor %}</td>
                                <td>{% for h in host.parentTemplates  %}
                                    {{ h.name }}<br>
                                    {% endfor %}</td>
                                <td><span class="badge">{{ host.items|length }}</span></td>
                                <td><span class="badge">{{ host.triggers|length }}</span></td>
                                <td>{% for h in host.graphs  %}
                                    <a href="{% url 'zabbix:host' %}?graphid={{ h.graphid }}">{{ h.name }}</a><br>
                                    {% endfor %}</td>
                                <td>{% for h in host.screens  %}
                                    {{ h.name }}<br>
                                    {% endfor %}</td>
                                <td>{% if host.status == '0' %}<label class="label label-success">Enable</label>
                                    {% else %}<label class="label label-danger">Disable</label>{% endif %}
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
            {% paginate %}
        {% endif %}
    <div id="container" style="min-width:800px;height:400px"></div>
    </div>
{% endblock %}
{% block scripts %}
{#// jQuery#}
{#    <script src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>#}
{#// Highcharts#}
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <script>
    $(function () {
    $('#container').highcharts({                   //图表展示容器，与div的id保持一致
        chart: {
            type: 'column'                         //指定图表的类型，默认是折线图（line）
        },
        title: {
            text: 'My first Highcharts chart'      //指定图表标题
        },
        xAxis: {
            categories: ['my', 'first', 'chart']   //指定x轴分组
        },
        yAxis: {
            title: {
                text: 'something'                  //指定y轴的标题
            }
        },
        series: [{                                 //指定数据列
            name: 'Jane',                          //数据列名
            data: [1, 0, 4]                        //数据
        }, {
            name: 'John',
            data: [5, 7, 3]
        }]
    });
});
    </script>
{% endblock %}